.clients__section {
  margin: 120px auto;
}
.clients__section .section__title {
  text-align: center;
  width: 100%;
}
.clients__section .section__title span {
  background: linear-gradient(90deg, #743A50 0%, #DEA439 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clients__section .section__title::after {
  display: none;
}
.clients__section .section__subtitle {
  text-align: center;
  color: var(--color__gray);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}
.client {
  border-radius: 4px;
  overflow: hidden;
  height: 100px;
  flex-grow: 1;
}
.client img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}